:root{
  --form-outline: #d9d9d9;
  --form-outline-bold: #888;
}

.new-worksheet-form{
	padding-top: 10px;
	margin-top: 18px;
	font-size: 18px;
	width: 75%;
}

.new-worksheet-form .form-title{
	display: flex;
	flex-direction: row;
	margin: 0 38px 10px 38px;
	border-bottom: 2px solid var(--form-outline);
}

.new-worksheet-form .form-title input{
	display: flex;
	flex-grow: 1;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1.8em;
}

.new-worksheet-form .worksheet-section{
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 0px 20px 0 8px;
	box-sizing: border-box;
}

.new-worksheet-form .worksheet-section .bottom-box{
	position: absolute;
	bottom: -5px;
	left: calc(50% - 15%);
	width: 30%;
	text-align: center;
}

.new-worksheet-form .worksheet-section.drag{
/*	border-top: 2px solid var(--form-outline);
	border-bottom: 2px solid var(--form-outline);*/
	background-color: white;
}

.new-worksheet-form .worksheet-section.drag textarea,
.new-worksheet-form .worksheet-section.drag input{
	overflow: hidden;
}

.new-worksheet-form .worksheet-section .input-container{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.new-worksheet-form .worksheet-section .main-input{
	flex-grow: 1;
	border: none;
	border-radius: 6px;
	outline: none;
	font-family: inherit;
	margin: 3px 10px 0 10px;
	background-color: transparent;
}

.new-worksheet-form .worksheet-section input.main-input{
	font-size: inherit;
}

.new-worksheet-form .worksheet-section input.main-input.subheading{
	font-size: 1.6em;
}

.new-worksheet-form .worksheet-section textarea.main-input{
	font-size: inherit;
	height: auto;
	resize: none;
	box-sizing: border-box;
}

.new-worksheet-form .worksheet-section textarea.main-input::placeholder, 
.new-worksheet-form .worksheet-section input.main-input::placeholder{
  color: #555;
}

.new-worksheet-form .worksheet-section iframe.media-display{
	margin: 10px 12px;
	width: calc(100% - 24px);
	height: 340px;
/*	border-radius: 6px;*/
/*	border: 2px solid var(--form-outline);*/
}

/* Item buttons */

.new-worksheet-form .worksheet-section .button-options{
	display: flex;
	flex-direction: row;
}

.new-worksheet-form .button-options, 
.new-worksheet-form .button-options i{
  transition: color 0.1s ease-in-out;
}

.new-worksheet-form .button-options.transparent, 
.new-worksheet-form .button-options.transparent i{
	color: transparent;
	transition: color 0.2s ease-in-out;
}

.new-worksheet-form .button-options button, 
.new-worksheet-form .button-options div{
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: transparent;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
}

.new-worksheet-form .worksheet-section button:hover, 
.new-worksheet-form .add-input button:hover, 
.new-worksheet-form .add-input select:hover,
.new-worksheet-form .submit-form button:hover,
.new-worksheet-form .new-input-select button:hover{
	cursor: pointer;
}

.new-worksheet-form .worksheet-section .drag-handle:hover{
	cursor: grab;
}


.new-worksheet-form .add-input{
	width: 50%;
	display: flex;
	margin: 10px 20px;
/*	border-radius: 6px;*/
	border: 2px solid var(--form-outline);
}

.new-worksheet-form .add-input select{
	flex-grow: 1;
	border: none;
	border-radius: 6px;
	outline: none;
	padding: 5px 4px;
	background-color: transparent;
}

.new-worksheet-form .submit-form button{
	display: flex;
	padding: 5px 4px;
/*	border-radius: 6px;*/
	border: 2px solid var(--form-outline);
	background-color: transparent;
	margin: 10px 20px;
}

.new-worksheet-form .new-input-select button{
/*	border-radius: 6px;*/
	padding: 5px 7px;
	background-color: transparent;
	border: 2px solid var(--form-outline);
}

.new-worksheet-form .new-input-select .add-input button{
	border: none;
}

.new-worksheet-form .form-options{
	display: flex;
	flex-direction: row;
	width: calc(100% - 80px);
	margin: 30px 40px 10px 40px;
	border-top: 2px solid var(--form-outline);
}

.new-worksheet-form .form-options div{
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.new-input-select{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.new-worksheet-form .input-container code{
	position: absolute;
	top: 0;
	left: 30px;
	pointer-events: none;
	max-width: 100%;
	z-index: 1;
}

.new-worksheet-form .input-container textarea{
	background: transparent !important;
	z-index: 2;
}

.cm-editor{
/*	border-radius: 6px;*/
	margin: 8px 12px 8px 11px;
	border: 2px solid var(--form-outline);
	box-sizing: border-box;
}

div .cm-editor.cm-focused{
	outline: none;
}

/*.cm-gutters, .cm-gutter{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.cm-content{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}*/