:root {  
  --main-theme: #6b2c90;
  --background-outline: #d9d9d9;
}


body{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}


/*


--   Scrollbar


*/

/* For Webkit browsers (such as Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

/* For Internet Explorer and Edge */
* {
    -ms-overflow-style: scrollbar;
}

/*


--   Thing


*/


.scale-hover:hover{
  transition: .5s;
  transform: scale(1.02);
}

.main-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  pointer-events: none;
}

a{
  text-decoration: none;
  color: #5a5a5a;
}

.flex-div{
  display: flex;
  align-items: center;
}

nav{
  padding: 10px 2%;
  justify-content: space-between;
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/

/*  background: #fff;*/
/*  position: sticky;*/
  top: 0;
  z-index: 10;
}

.nav-right i{
  margin-right: 25px;
}

.nav-right .fa-user{
  margin-right: 10px;
}

.fa-user{
  color: white;
  background-color: #222;
  padding: 6px 7px;
  border-radius: 50%;
}

.nav-left .fa-bars{
  margin-right: 25px;
}

.nav-left div{
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.nav-right div{
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.nav-middle{
  flex-grow: 1;
}



/*


-- Worksheets --


*/

/*.worksheet-conatiner{
  padding: 30px;
  position: relative;
}

/*.worksheet-conatiner .game-container{
  width: 100% !important;
  padding-bottom: 56.5%;
}*/

/*
.worksheet-section {
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
}*/

.game-container {
  width: 100%;
  padding-top: 56.25%; /* 9 divided by 16 multiplied by 100 (aspect ratio 16:9) */
  position: relative;
}

/* Additional styles for the game content inside the container */
.game-container .game-window {
  border: 2px solid #d9d9d9;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 3%;
/*  background-color: lightgrey;*/
/*  border-radius: 10px;*/
}

#main-game-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label div:first-child{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 4px;
}


/*


-- Home --


*/


.scroll-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.scroll-menu {
  display: flex;
  overflow: hidden;
  padding: 20px 0;
  margin: 0 10px;
  width: 100%;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  height: 160px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.card-img{
  background-image: url('assets/smooth.png');
  background-size: 100%;
  width: 100%;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-bottom{
  background-color: #f1f1f2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.scroll-menu .card:first-child{
  margin-left: 0;
}

.scroll-button {
  background-color: #e1e1e2;
  color: black;
  cursor: pointer;
  padding: 20px;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.scroll-button:hover {
  background-color: #f1f1f2;
}

.scroll-box .scroll-button:first-child{
  margin-left: 10px;
}

.scroll-box .scroll-button:last-child{
  margin-right: 10px;
}

.title-box{
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.search-card{
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.search-box{
  flex-grow: 1;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
}

.add-card{
  border-radius: 5px;
  border: none;
  margin: 0 10px; 
  height: 29.5px;
  width: 29.5px;
  font-size: 1.5rem;
  background-color: transparent;
}

.search-button{
  border: none;
  outline: none;
  background-color: transparent;
}

.search-button:hover, .add-card:hover{
  cursor: pointer;
}

.hero-section{
/*  background-color: #657985;*/
  display: flex;
  position: relative;
}

.hero-img{
  flex-grow: 1;
  max-width: 200px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hero-text{
  margin: auto 50px auto 0;
}

.hero-text h2{
  margin-top: 0;
}

.card-header h2{
  margin: 0 10px 0 0;
}

.card-header{
  display: flex;
  margin: 0 50px;
}

.card-header .add-card:hover, .card-header .search-box:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.fact-section{
  margin: 40px 50px;
}

.fact-section h2{
  margin-top: 0;
}

.card-container{
  margin-bottom: 50px;
}



/*.sink{
  width: 100%;
  max-width: 800px;
  margin-left: 205px;
  border: 1px solid red;
  border-radius: 10px;
}*/